@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-left">
    <h1>Multi-staged forms</h1>

    <ul>
        <li>
            <a asp-area="" asp-controller="SignUp" asp-action="ResetPassFirst">Password Reset</a>
        </li>
        <li>
            <a asp-area="" asp-controller="SignUp" asp-action="SignUpFirst">Sign Up</a>
        </li>
    </ul>


</div>