@model Web._931803.Chegodaeva.Lab4.Models.ResetModel
@{ ViewData["Title"] = "Reset your password"; }

<h2>Reset your password</h2>
@Model.Message
<form method="post">
    <label><b>Code</b></label><br />
    <input type="text" name="Code" /><br />
    <br />
    <input class="btn btn-light col-md-auto" style="display: inline" type="submit" value="Verify" />
</form>