@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1>Tools</h1>

    <ul>
        <li>
            <a asp-area="" asp-controller="Controls" asp-action="Index">Controls</a>
        </li>
        <li>
            <a asp-area="" asp-controller="SignUp" asp-action="Index">Multi-staged forms</a>
        </li>
    </ul>
</div>
